<div class="container">
  <form  #userForm="ngForm" novalidate (ngSubmit)="submitData()">
      {{userForm.value |json}}
      <br>
      <!-- {{userModel|json}} -->
      <div class="form-group">
          <label>User Name</label>
          <input type="text" required
          [class.is-invalid]="name.invalid&&name.touched"
          [(ngModel)]="userModel.name"
          pattern="/^[a-zA-Z]+$/"
          name="txtName" #name="ngModel"  class="form-control">

          <div *ngIf="name.errors&&name.touched">

            <small class="text-danger" *ngIf="name.errors['required']">the user name is
               required</small>
            <small class="text-danger" *ngIf="name.errors['pattern']">
              the user name must also contains only capital and small characters.
            </small>
          </div>
        </div>


      <div class="from-group">
          <label>Email :</label>
          <input type="email" name="txtEmail" required
          [(ngModel)]="userModel.email" #email="ngModel"
          pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/"
          class="form-control">

          <div *ngIf="email.errors&&email.touched">
            <small class="text-danger" *ngIf="email.errors['required']">email is required</small >
            <small class="text-danger" *ngIf="email.errors['pattern']">email input must contains @ and . in the format (aaa@bb.com)</small>
          </div>
      </div>

      <div class="forrm-group">
          <label>Password</label>
          <input type="password" required name="txtPassword"
          [class.is-invalid]="pass.invalid&&pass.touched"
          pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+~`,.\-=])[A-Za-z\d!@#$%^&*()_+~`,.\-=]{8,}$/"
          [(ngModel)]="userModel.password" #pass="ngModel"
          class="form-control">

          <div *ngIf="pass.errors&&pass.touched">
              <small class="text-danger" *ngIf="pass.errors['required']">password is required</small>
              <small class="text-danger" *ngIf="pass.errors['pattern']">Password must contain one small letter at-least and one capital letter at least and one special character at least and it length more than or equal 8 characters</small>
          </div>
      </div>

      <div class="forrm-group">
        <label>ConfirmPassword</label>
        <input type="password" required name="txtConfirmPassword"
        [class.is-invalid]="Conpass.invalid&&Conpass.touched"
        pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+~`,.\-=])[A-Za-z\d!@#$%^&*()_+~`,.\-=]{8,}$/"
        [(ngModel)]="userModel.ConfirmPass" #Conpass="ngModel"
        class="form-control">

        <div *ngIf="Conpass.errors&&Conpass.touched">
            <small class="text-danger" *ngIf="Conpass.errors['required']">confirm passowrd is required</small>
            <small class="text-danger" *ngIf="Conpass.errors['pattern']">confirm Password must contain one small letter at-least and one capital letter at least and one special character at least and it length more than or equal 8 characters</small>
        </div>
    </div>
<br>
      <div class="from-group">
          <select class="custom-select" [(ngModel)]="userModel.ComeFrom" name="ComeFrom" #comefrom="ngModel" >
              <option>
                  Im about You from
              </option>
              <option *ngFor="let topic of topics">
                  {{topic}}
              </option>
          </select>
      </div>
      <br>
      <!-- <div class="from-check mb-3">
          <input type="checkbox" class="form-check-input" [(ngModel)]="userModel.offer" name="chkOffers" #offer="ngModel" >
          <label class="from-check-label">
              Send me new offers
          </label>
      </div> -->
      <input type="submit" [disabled]="userForm.form.invalid"
      class="btn btn-primary" [class.bg-danger]="userForm.form.invalid"
      value="Refister">
  </form>
</div>
